 <!-- include header -->
 <%- include('includes/header')%>

<!-- main -->
<div class="main">
    <div class="filter">
        <a href="/"><i class="fa-solid fa-angles-left"></i>All Users</a>
    </div>
  </div>
  <div class="title">
      <h1 class="txt-ttitle">New User</h1>
      <span class="txt-light">use below form to create user</span>
  </div>
 <%-include('includes/form')%>
</div>

 <!-- footer -->
 <%-include('includes/footer')%>